/*Colors*/
/*Font-Family*/
/*Padding*/
@import url("https://fonts.googleapis.com/css2?family=DynaPuff&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200&display=swap");
body {
  max-width: 100%;
  margin: 0;
  background-color: #f5f5f8; }

/*HEADER AND FOOTER COLORS*/
.navbar, footer {
  background-color: #eed6b8; }

/*-----------INDEX----------*/
/*INDEX ASIDE*/
.informacion {
  text-align: center; }
  .informacion div h1 {
    padding-top: 1rem; }

/*---------PRODUCTOS--------*/
#tituloproductos {
  text-align: center;
  padding-top: 20px; }

.container {
  padding: 20px; }

/*---------CONTACTO--------*/
/*---------VETERINARIA--------*/
.banner {
  background-image: url(../Images/banner_veterinaria.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 25em; }

/*---------NOSOTROS--------*/
main #presentacion h1 {
  color: #e27448;
  font-family: "DynaPuff", cursive; }

main #presentacion h3 {
  color: #e27448;
  font-family: "DynaPuff", cursive; }

main #presentacion p {
  color: white;
  background-color: #d49dd6;
  padding: 20px; }
