/*COLORES*/
body {
  max-width: 100%;
  font-family: 'Roboto Slab', serif; }

/*HEADER AND FOOTER COLORS*/
.navbar, footer {
  background-color: #EAEEDE; }

/*-----------INDEX----------*/
/*INDEX ASIDE*/
.informacion {
  text-align: center; }
  .informacion div h1 {
    padding-top: 1rem; }

/*---------PRODUCTOS--------*/
#tituloproductos {
  text-align: center;
  padding-top: 20px; }

.container {
  padding: 20px; }

/*---------CONTACTO--------*/
/*---------VETERINARIA--------*/
.banner {
  background-image: url(../Images/banner_veterinaria.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 25em; }

/*---------NOSOTROS--------*/
