/*Colors*/
$primary-color:#EAEEDE;
$secundary-color:#e0a765;
$accent-color:#e27448;
$background-color:#852f88;
$light-color:white;
$dark-color:#2c2c2c;

/*Font-Family*/
$font-principal:'Roboto Slab', serif;
$font-tittle:'DynaPuff', cursive;


/*Padding*/
$padding-text:20px;