/*Colors*/
$primary-color:#0dd1a0;
$secondary-color:#e599fc;
$accent-color:#e27448;
$background-color:#ffffff;
$light-color:rgb(255, 255, 255);
$dark-color:#2c2c2c;

/*Font-Family*/
$font-principal:'Roboto Slab', serif;
$font-tittle:'DynaPuff', cursive;


/*Padding*/
$padding-text:20px;

/*Bootstrap color*/
$primary: $accent-color

