@import "variables";


/*HEADER AND FOOTER COLORS*/
.navbar, footer{
    background-color: $primary-color;
}
/*-----------INDEX----------*/
/*INDEX ASIDE*/
.informacion{
    text-align: center;
    div{
        h1{
            padding-top: 1rem;
        }
    }
}

/*---------PRODUCTOS--------*/
#tituloproductos{
    text-align: center;
    padding-top: 20px;
}
.container{
    padding: 20px;
}
#infotienda{
    text-align: center;
}
/*---------CONTACTO--------*/
