

@import "variables";

@import "../scss/components/buttoms";

@import "./misc/normalize";

@import "./misc/mixins";

@import "../node_modules/bootstrap/scss/bootstrap";


body{
    margin: 0;
    box-sizing: border-box;
    background-color: $background-color;
    h1{
        @include orange_tittle($accent-color, $font-tittle);
    }
    h4{
        @include orange_tittle($accent-color, $font-tittle);
    }
}
/*HEADER AND FOOTER COLORS*/
.navbar, footer{
    background-color: $primary-color;
}
/*-----------INDEX----------*/
/*INDEX ASIDE*/
.informacion{
    text-align: center;
    div{
        h1{
            padding-top: 1rem;
        }
    }
}

/*---------PRODUCTOS--------*/
#tituloproductos{
    text-align: center;
    padding-top: 20px;
}
.container{
    padding: 20px;
}

/*---------CONTACTO--------*/

/*---------VETERINARIA--------*/
.banner{
    background-image: url(../Images/banner_veterinaria.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 25em;
    position: relative;
    div{
        h1{
            color: $light-color;
        }
        max-height: 15em;
        max-width: 600px;
        border-radius: 10px;
        position: absolute;
        top: 20%;
        right: 10%;
    
        @include violet_text($light-color, $secondary-color, $padding-text)
        
    }
}
.Banner_Ofrecemos{
    max-width: 95%;
    max-height: auto;
    @include violet_text($light-color, $secondary-color, $padding-text);
     h4{
        color:$light-color;       
    }
}
.sector_preguntas{
    max-width: 95%;
}
/*---------NOSOTROS--------*/
main{
    #presentacion{
        h1{
            @include orange_tittle($accent-color, $font-tittle)
        }
        h3{
            @include orange_tittle($accent-color, $font-tittle)
        }
        p{  border-radius: 10px;
            max-width: 70%;
            @include violet_text($light-color, $secondary-color, $padding-text)
         
        }
    }
}
