@mixin violet_text($light-color, $background-color, $font-principal, $padding-text){
    color: $light-color;
    background-color: $background-color;
    font-family: $font-principal;
    padding: $padding-text;
}