@mixin violet_text($light-color, $background-color, $padding-text){
    color: $light-color;
    background-color: $background-color;
    padding: $padding-text;
}
@mixin orange_tittle($accent-color, $font-tittle){
    color: $accent-color;
    font-family: $font-tittle;
}